.resume-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

@media only screen and (orientation: portrait) {
    .resume-card {
        width: 80vw;
        height: 35vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        margin: 0 0 10vh 0;
        display: flex;
        flex-direction: row;
        background-color: white;
        z-index: 0;
    }

    .resume-card-subheader {
        font-size: 3.5vw;
        margin: 0;
    }

    .job-description ul li {
        font-size: 2.9vw;
    }

    .download button {
        background-color: var(--primary);
        color: white;
        border-style: solid;
        font-size: 2vw;
        height: 4vh;
        padding: .1vh 1vw;

        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
    }

    .job-info > h4 {
        /* color: var(--primary); */
        font-size: 2.6vw;
        margin: 0;
        color: inherit;
    }

    .job-info > h5 {
        margin: 0;
        color: inherit;
        font-weight: 550;
        font-style: italic;
        font-size: 2vw;
    }

    .resume-bottom-container::before {
        content: "";
        background-image: url("/src/img/plants.jpeg");
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        z-index: -1;
        top: 115vh;
        height: 160vh;
        width: 100vw;
        opacity: 0.80;
    }
}

@media only screen and (orientation: landscape) {
    .resume-card {
        width: 45vw;
        height: 45vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        margin: 0 0 10vh 0;
        display: flex;
        flex-direction: row;
        background-color: white;
        z-index: 0;

        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
    }

    .resume-card-subheader {
        font-size: 1.8vw;
        margin: 0;
    }

    .job-description ul li {
        font-size: 1.1vw;
    }

    .download button {
        background-color: var(--primary);
        color: white;
        border-style: solid;
        width: 100%;
        padding: 2vh 1vw;

        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
    }

    .job-info > h4 {
        /* color: var(--primary); */
        font-size: 1.3vw;
        margin: 0;
        color: inherit;
    }

    .job-info > h5 {
        margin: 0;
        color: inherit;
        font-weight: 550;
        font-style: italic;
        font-size: 1.1vw;
    }

    .resume-bottom-container::before {    
        content: "";
        background-image: url("/src/img/plants.jpeg");
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        z-index: -1;
        height: 185vh;
        width: 100vw;
        opacity: 0.80;
    }
}

.resume-page a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: underline;
}

.resume-download {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-title {
    font-weight: 100;
    font-size: 2vw;
    width: inherit;
    width: 50%;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2vh 0;
}

.download a {
    margin: 2vh;
}

.download button:hover, .download button:focus, .download button:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#subpage {
    position: fixed;
    width: 0;
    height: 0;
    top: 50vh;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    z-index: 0;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    box-sizing: border-box;
    border: 0;
}

#subpage-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: rgb(0, 0, 0, .5);
    z-index: -1;
    -webkit-transition: all 0.5s ease, z-index 1ms ease-out;
    transition: all 0.5s ease, z-index 1ms ease-out;
    box-sizing: border-box;
}

.resume-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-card:hover, .resume-card:focus, .resume-card:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 2;
}

.resume-card:hover ~ .pop-up {
    position: fixed;
    color: black;
    border-color: black;
    border-radius: 30px;
    padding: 0 1vw;
    background-color: white;
    z-index: 2;

    -webkit-transform: translate(0, -150%);
    transform: translate(0, -150%);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 3s;
    transition-duration: 3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    -webkit-transition: all 0.5s ease, z-index 1ms ease-out;
    transition: all 0.5s ease, z-index 1ms ease-out;
}

.resume-card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 2vw;

    background-image: linear-gradient(rgba(0, 0, 0, 0.40),
        rgba(0, 0, 0, 0.40)), url("/src/img/plants.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 500%;
    color: var(--light-text);
}

.bottom-resume-card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 2vw;

    background-image: linear-gradient(rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9)), url("/src/img/plants.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 500%;
    color: var(--dark-text);
}

#amazon .bottom-resume-card-left {
    background-position: left;
}

#code-org .bottom-resume-card-left, #peleg .resume-card-left {
    background-position: bottom left;
}

#uw .bottom-resume-card-left{
    background-position: top right;
}


.job-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.job-info > h3 {
    color: inherit;
}

.divider {
    width: 80%;
    color: inherit;
    border-style: solid;
}

.resume-card-right {
    text-align: left;
    width: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
}

.job-description {
    padding: 2vh 2vw 2vh 0;
    display: flex;
    justify-content: center;
}

.job-description ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#resume-education, #resume-skills {
    background-color: white;
    width: 36vw;
    padding: 2vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

#resume-education:hover, #resume-education:focus, #resume-education:active,
#resume-skills:hover, #resume-skills:focus, #resume-skills:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#resume-education {
    margin: 10vh 0;
}

#resume-skills {
    margin: 0 0 10vh 0;
}

.resume-bottom-container {
    /* background-image: url("/src/img/plants.jpeg"); */
    width: 100vw;
    padding: 10vh;
    background-attachment: fixed;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.college-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.college-name {
    font-weight: 100;
}

.pop-up {
    top: 100vh;
    position: fixed;
    color: white;
}
