.subpage {
    padding: 4vw;
}

.subpage p, .subpage ul {
    font-size: 1.5vw;
}

.subpage a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: underline;
}

.subpage-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subpage-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subpage-subheader {
    text-align: center;
    font-size: 1.5vw;
}

.subpage-date {
    font-size: 1.5vw;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 0;
    margin: 0;
}