@media only screen and (orientation: portrait) {
    .subpage {
        padding: 5vw;
    }
    .subpage p, .subpage ul {
        font-size: 3.5vw;
    }
    .subpage-subheader {
        text-align: center;
        font-size: 4vw;
    }
    .subpage-date {
        font-size: 3.5vw;
        font-style: italic;
        font-weight: lighter;
        margin-bottom: 0;
        margin: 0;
    }
}

@media only screen and (orientation: landscape) {
    .subpage {
        padding: 4vw;
    }
    .subpage p, .subpage ul {
        font-size: 1.7vw;
    }
    .subpage-subheader {
        text-align: center;
        font-size: 2.3vw;
    }
    .subpage-date {
        font-size: 2.1vw;
        font-style: italic;
        font-weight: lighter;
        margin-bottom: 0;
        margin: 0;
    }
}


.subpage a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: underline;
}

.subpage-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subpage-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subpage-header h2 {
    margin-bottom: 1vh;
}