:root {
    /* --primary: #4a7255; */
    --primary: #407280;
    --dark-text: black;
    --light-text: white;
}

.page {
    background-color: #FFFFFF;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    background: url("/src/img/background-downsampled.jpg")  center/cover no-repeat fixed;
}


.page-title {
    margin: 10vh 0 0 0;
    text-align: center;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}
